body,html {
  font-family:-apple-system, BlinkMacSystemFont,'Montserrat',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./backgroundSky.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0rem !important;
  overflow: hidden; 
}

